node_modules
frontend/node_modules
.next
frontend/.next
out
dist
.DS_Store
.env.local
.env*.local
frontend/.env.local
frontend/.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
